body {
  font-family: sans-serif;
  padding: 10px 30px 10px 10px;
  background: #CF483B;
  color: white;

}

a {
  color: white;
}

p {
  margin: .25em;
  padding: .25em;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.title a {
  text-decoration: none;
}

.commandbar {
  width: 100%;
  background: #c13c2f;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
}

.header-nav {
  text-align:center;
}

.header-nav ul li {
  list-style: none;
}

.commands-nav ul {
  display: flex;
}

.commands-nav ul li {
  list-style: none;
  margin:0 5px;
}

.commands-nav ul li a {
  background: #f2d1cb;
  color: #a43c29;
  padding: .5em .5em;
  border-radius: 4px;
  transition: background 0.3s;
  text-decoration: none;
}

.commands-nav ul li a:hover {
  background: #e8ada2;
}


footer {
  margin:1em;
  text-align: center;
}

input[type='checkbox'] {
  background: white;
}

.copy-button {
  text-align: center;
}

.copy-button button {
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #CF483B;
  border-radius: .25em;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-wrapper {
  width: 100%;
  text-align:center;
}
.logo {
  margin:2em auto;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
