<p>
This is a companion app/page that will show all options of 
<a href="https://ember-cli.com">ember-cli</a>, 
allow the user to select options, and then generate the command line to copy/paste into the terminal.
</p>
Thanks to <a href="">Melanie Sumner</a> for this awesome idea.

This project was born out of a discussion of the Ember A11y Strike Team.

