<p>
This is a companion app/page that will show all options, allowed the user to select options, and then generated the command line to copy/paste into the terminal.
</p>
Thanks to <a href="">Melanie Sumner</a> for this awesome idea.

This project was born out a discussion of the Ember A11y Strike Team.